:root {
  --primary-color: #0b0c0c;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

  --bg-color: hsl(49 37% 94%);
  --typewriterSpeed: 6s;
  --typewriterCharacters: 24;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: "Nunito", sans-serif;
  color: rgb(212, 212, 220);
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
  opacity: 0.9;
}
h4 {
  margin: 0;
  font-family: "Nunito", sans-serif;
  color: black;
  font-size: 40px;
  opacity: 0.9;
}

p {
  font-size: 19px;
  line-height: 1.5;
  font-family: "Roboto Slab", serif;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: white;
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.main {
  padding: 160px 20px 225px 10px;
  background-image: url(/images/homepage6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.about {
  padding: 160px 20px 225px 10px;
  background-image: url(/images/aboutme.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 576px) {
  .buttons-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }

  h2 {
    font-size: 32px;
    text-align: center;
  }

  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  p {
    text-align: center;
  }
}
.typewriter {
  font-family: "Nunito", sans-serif;
  display: inline-block;
}

.typewriter-text {
  display: inline-block;
  overflow: hidden;
  letter-spacing: 2px;
  animation: typing 3s steps(20, end), blink 0.75s step-end infinite;
  white-space: nowrap;
  font-size: 30px;
  font-weight: 700;
  border-right: 4px solid rgb(233, 230, 225);
  box-sizing: border-box;
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(230, 227, 223);
  }
}
